# hidden files
.*
!.git*
!.gitignore
!.editorconfig
!.nojekyll
!.husky
!.commitlintrc.json
!.versionrc.json
!.stylelintrc.json
!.IMG20220829215045.jpg
!.images
# bundler cache
_site
vendor
Gemfile.lock
codes
# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
